.footer-container {
    margin: 50px 0 0 0;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #fffbed;
    box-shadow: inset 0 10px 20px -10px #fffbed;
}

.container-logo-footer {
    margin-left: 30px; 
}

.container-github-footer {
    margin-right: 30px; 
}

.logo-footer, .logo-github-footer {
    cursor: pointer;
    width: 75px; 
    height: auto;
}
